@model IEnumerable<Student>
<h2>Student List</h2>
<a href="/Student/Create" class="btn btn-primary">Add Student</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.StudentId)</th>
                <th>@Html.DisplayNameFor(m => m.StudentName)</th>
                <th>@Html.DisplayNameFor(m => m.StudentSurname)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentSurname)
                </td>
                <td>
                     <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Edit</a>
                     <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                </td>

                </tr>
            }   
        </tbody>
    </table>